In [5]:
import sqlite3
import pandas as pd
from IPython.display import display

# Подключаемся к базе данных
conn = sqlite3.connect("gym_data.db")

# --- Запрос 1: Получить athlete_id для Ashton Johnson ---
print("--- Поиск ID для спортсмена 'Ashton Johnson' ---")
query_id = "SELECT athlete_id, full_name, club FROM Athletes WHERE full_name = 'Ashton Johnson'"
athlete_info = pd.read_sql_query(query_id, conn)

display(athlete_info)

# Сохраняем ID для следующего запроса
if not athlete_info.empty:
    target_athlete_id = athlete_info['athlete_id'].iloc[0]
else:
    target_athlete_id = None
    print("Спортсмен не найден в таблице Athletes.")

# --- Запрос 2: Найти все meet_id для этого athlete_id ---
# Этот блок выполнится, только если мы успешно нашли ID на предыдущем шаге
if target_athlete_id:
    print(f"\n--- Поиск соревнований в БД для athlete_id = {target_athlete_id} ---")
    
    query_meets = f"""
        SELECT DISTINCT
            r.meet_id,
            m.name,
            m.start_date_iso
        FROM Results r
        JOIN Meets m ON r.meet_id = m.meet_id
        WHERE r.athlete_id = {target_athlete_id}
    """
    
    loaded_meets = pd.read_sql_query(query_meets, conn)
    
    display(loaded_meets)
    print(f"Найдено {len(loaded_meets)} уникальных соревнований в базе данных.")

# Закрываем соединение с БД после всех запросов
conn.close()

--- Поиск ID для спортсмена 'Ashton Johnson' ---

   athlete_id       full_name club
0         160  Ashton Johnson  SGA

--- Поиск соревнований в БД для athlete_id = 160 ---

,meet_id,name,start_date_iso
0,7DDF70B0FBFCB7D5CD2E4409DBA20AA7,MAG Artistic Provincials 2024,2024-04-04

Найдено 1 уникальных соревнований в базе данных.

In [11]:
import sqlite3
import pandas as pd
from IPython.display import display, Markdown # Markdown для красивых заголовков

# --- КОНФИГУРАЦИЯ ---
DB_FILE = "gym_data.db"
ATHLETE_COUNT_PER_DISCIPLINE = 15 # Количество спортсменов в каждом топе

# --- Общая часть SQL-запроса (CTE) ---
# Мы выносим общую логику в одну строку, чтобы не повторяться.
# Эта часть находит основную дисциплину для каждого спортсмена.
base_query = """
WITH AthleteDiscipline AS (
    SELECT
        r.athlete_id,
        d.discipline_name
    FROM Results r
    JOIN Events e ON r.event_id = e.event_id
    JOIN Disciplines d ON e.discipline_id = d.discipline_id
    WHERE d.discipline_name IN ('MAG', 'WAG')
    GROUP BY r.athlete_id, r.meet_id
),
MainDiscipline AS (
    SELECT
        athlete_id,
        discipline_name AS main_discipline
    FROM (
        SELECT
            athlete_id,
            discipline_name,
            ROW_NUMBER() OVER(PARTITION BY athlete_id ORDER BY COUNT(*) DESC) as rn
        FROM AthleteDiscipline
        GROUP BY athlete_id, discipline_name
    )
    WHERE rn = 1
)
"""

# --- Запрос №1: Топ для Мужской спортивной гимнастики (MAG) ---
query_mag = base_query + f"""
SELECT
    a.full_name, a.club, COUNT(DISTINCT r.meet_id) AS meet_count
FROM Results r
JOIN Athletes a ON r.athlete_id = a.athlete_id
JOIN MainDiscipline md ON r.athlete_id = md.athlete_id
WHERE md.main_discipline = 'MAG'
GROUP BY a.athlete_id, a.full_name, a.club
ORDER BY meet_count DESC
LIMIT {ATHLETE_COUNT_PER_DISCIPLINE};
"""

# --- Запрос №2: Топ для Женской спортивной гимнастики (WAG) ---
query_wag = base_query + f"""
SELECT
    a.full_name, a.club, COUNT(DISTINCT r.meet_id) AS meet_count
FROM Results r
JOIN Athletes a ON r.athlete_id = a.athlete_id
JOIN MainDiscipline md ON r.athlete_id = md.athlete_id
WHERE md.main_discipline = 'WAG'
GROUP BY a.athlete_id, a.full_name, a.club
ORDER BY meet_count DESC
LIMIT {ATHLETE_COUNT_PER_DISCIPLINE};
"""

# --- Выполнение запросов и отображение результатов ---
try:
    with sqlite3.connect(DB_FILE) as conn:
        # --- Вывод для MAG ---
        display(Markdown(f"### Топ-{ATHLETE_COUNT_PER_DISCIPLINE} спортсменов по участиям (Мужская спортивная гимнастика)"))
        top_mag_df = pd.read_sql_query(query_mag, conn)
        if not top_mag_df.empty:
            display(top_mag_df.set_index('full_name'))
        else:
            print("Не найдено данных для MAG.")
            
        # --- Вывод для WAG ---
        display(Markdown(f"### Топ-{ATHLETE_COUNT_PER_DISCIPLINE} спортсменов по участиям (Женская спортивная гимнастика)"))
        top_wag_df = pd.read_sql_query(query_wag, conn)
        if not top_wag_df.empty:
            display(top_wag_df.set_index('full_name'))
        else:
            print("Не найдено данных для WAG.")

except Exception as e:
    print(f"Произошла ошибка при выполнении запроса: {e}")

### Топ-15 спортсменов по участиям (Мужская спортивная гимнастика)

                                       club  meet_count
full_name
Albie Direen                             KG           1
Albie Wilkinson                          KG           1
Alec Eagleston                     Maroochy           1
Aleksander Suder-Hall LEVEL TEST      Y QLD           1
Alex Litzow                             MYC           1
Alexander Timperley                Maroochy           1
Archer Smith LEVEL TEST               Y QLD           1
August Pocock                           MYC           1
Avery Gardner                       Thunder           1
Ayrton Myers                          LPCYC           1
Bailey Keenan                     Gladstone           1
Bailey Kitto LEVEL TEST              Splitz           1
Balkan Tomic                           SCGA           1
Beau Stephens                      Maroochy           1
Blake Asher                       Gladstone           1

### Топ-15 спортсменов по участиям (Женская спортивная гимнастика)

                   club  meet_count
full_name
Akira MIDGLEY       EGA           5
Amelia Lowe       LPCYC           5
Cindy Lin           DGC           5
Emmy MCLENNAN       EGA           5
Eva Wescombe        DGC           5
Heidi Lambert        CG           5
Izzy Arnol           CG           5
Lena Douglas         CG           5
Lillian RILEY       EGA           5
Molly Ross        LPCYC           5
Pippa Hubbert        KG           5
Teal Williams     LPCYC           5
Angelise Kennedy    ZGC           4
Ava Martin           KG           4
Avah Robinson       DGC           4

In [10]:
import sqlite3
import pandas as pd
from IPython.display import display, Markdown

# --- КОНФИГУРАЦИЯ ---
DB_FILE = "gym_data.db"
ATHLETE_NAME = "Akira MIDGLEY" # <--- Замените на имя интересующего спортсмена

# Устанавливаем опцию Pandas для полного отображения таблицы
pd.set_option('display.max_rows', 100)

display(Markdown(f"# Анализ выступлений: {ATHLETE_NAME}"))

try:
    with sqlite3.connect(DB_FILE) as conn:
        
        # --- ЕДИНЫЙ УМНЫЙ ЗАПРОС ---
        # Этот запрос получает все результаты для спортсмена и сразу сортирует их
        # сначала по дате, а затем по правильному соревновательному порядку снарядов.
        
        query_summary = f"""
            SELECT
                m.start_date_iso AS date,
                m.name AS meet_name,
                d.discipline_name,
                e.event_name,
                r.score_d,
                r.score_final,
                r.score_text,
                r.rank_numeric,
                r.rank_text
            FROM Results r
            JOIN Athletes a ON r.athlete_id = a.athlete_id
            JOIN Events e ON r.event_id = e.event_id
            JOIN Meets m ON r.meet_id = m.meet_id
            JOIN Disciplines d ON e.discipline_id = d.discipline_id
            WHERE
                a.full_name = "{ATHLETE_NAME}"
            ORDER BY
                m.start_date_iso DESC, -- Сначала самые свежие соревнования
                d.discipline_name,      -- Затем группируем по дисциплине (MAG/WAG)
                e.sort_order;           -- И наконец, сортируем по правильному порядку снарядов
        """
        
        summary_df = pd.read_sql_query(query_summary, conn)
        
        if not summary_df.empty:
            print(f"Найдено {len(summary_df)} записей о результатах.")
            
            # --- Выводим список уникальных дисциплин, найденных в результатах ---
            unique_events = summary_df['event_name'].unique().tolist()
            print(f"Найденные дисциплины (снаряды): {unique_events}")
            
            # --- Выводим красивую сводную таблицу ---
            display(Markdown("### Сводная таблица по всем выступлениям"))
            display(summary_df)
        else:
            print("Не найдено ни одного результата для этого спортсмена.")

except Exception as e:
    print(f"Произошла ошибка при выполнении запроса: {e}")

# Анализ выступлений: Akira MIDGLEY

Найдено 25 записей о результатах.
Найденные дисциплины (снаряды): ['AllAround', 'Vault', 'Uneven Bars', 'Beam', 'Floor']

### Сводная таблица по всем выступлениям

,date,meet_name,discipline_name,event_name,score_d,score_final,score_text,rank_numeric,rank_text
0,2025-09-06,2025 GT JNR State Championships,Other,AllAround,39.5,31.775,None,18,None
1,2025-09-06,2025 GT JNR State Championships,WAG,Vault,10.0,8.400,None,b'\x0f\x00\x00\x00\x00\x00\x00\x00',None
2,2025-09-06,2025 GT JNR State Championships,WAG,Uneven Bars,10.0,7.675,None,b'\x0c\x00\x00\x00\x00\x00\x00\x00',None
3,2025-09-06,2025 GT JNR State Championships,WAG,Beam,10.0,7.600,None,b'\x10\x00\x00\x00\x00\x00\x00\x00',None
4,2025-09-06,2025 GT JNR State Championships,WAG,Floor,9.5,8.100,None,None,15T
5,2025-08-23,GTAS Junior State Clubs 2025,Other,AllAround,38.5,32.675,None,b'\x16\x00\x00\x00\x00\x00\x00\x00',None
6,2025-08-23,GTAS Junior State Clubs 2025,WAG,Vault,10.0,9.100,None,b'\x02\x00\x00\x00\x00\x00\x00\x00',None
7,2025-08-23,GTAS Junior State Clubs 2025,WAG,Uneven Bars,9.0,6.700,None,b'\x1f\x00\x00\x00\x00\x00\x00\x00',None
8,2025-08-23,GTAS Junior State Clubs 2025,WAG,Beam,10.0,8.525,None,b'\n\x00\x00\x00\x00\x00\x00\x00',None
9,2025-08-23,GTAS Junior State Clubs 2025,WAG,Floor,9.5,8.350,None,None,17T
10,2025-08-03,2025 GT WAG JNR Team Spirit - SOUTH,Other,AllAround,39.5,33.600,None,10,None
11,2025-08-03,2025 GT WAG JNR Team Spirit - SOUTH,WAG,Vault,10.0,8.900,None,b'\x06\x00\x00\x00\x00\x00\x00\x00',None
12,2025-08-03,2025 GT WAG JNR Team Spirit - SOUTH,WAG,Uneven Bars,10.0,8.550,None,b'\x07\x00\x00\x00\x00\x00\x00\x00',None
13,2025-08-03,2025 GT WAG JNR Team Spirit - SOUTH,WAG,Beam,10.0,7.950,None,None,15T
14,2025-08-03,2025 GT WAG JNR Team Spirit - SOUTH,WAG,Floor,9.5,8.200,None,b'\x0b\x00\x00\x00\x00\x00\x00\x00',None
15,2025-06-15,WAG Optional L6-10 and Bigham Cup qualifier#2,Other,AllAround,39.5,33.725,None,b'\x0f\x00\x00\x00\x00\x00\x00\x00',None
16,2025-06-15,WAG Optional L6-10 and Bigham Cup qualifier#2,WAG,Vault,10.0,8.800,None,None,9T
17,2025-06-15,WAG Optional L6-10 and Bigham Cup qualifier#2,WAG,Uneven Bars,10.0,8.575,None,b'\x0b\x00\x00\x00\x00\x00\x00\x00',None
18,2025-06-15,WAG Optional L6-10 and Bigham Cup qualifier#2,WAG,Beam,10.0,7.925,None,b'\x10\x00\x00\x00\x00\x00\x00\x00',None
19,2025-06-15,WAG Optional L6-10 and Bigham Cup qualifier#2,WAG,Floor,9.5,8.425,None,b'\x0f\x00\x00\x00\x00\x00\x00\x00',None
20,2025-05-17,2025 GT Senior State Championships,Other,AllAround,39.5,33.275,None,14,None
21,2025-05-17,2025 GT Senior State Championships,WAG,Vault,10.0,9.150,None,b'\x05\x00\x00\x00\x00\x00\x00\x00',None
22,2025-05-17,2025 GT Senior State Championships,WAG,Uneven Bars,10.0,7.925,None,b'\x0f\x00\x00\x00\x00\x00\x00\x00',None
23,2025-05-17,2025 GT Senior State Championships,WAG,Beam,10.0,8.550,None,b'\r\x00\x00\x00\x00\x00\x00\x00',None
24,2025-05-17,2025 GT Senior State Championships,WAG,Floor,9.5,7.650,None,b'\x0f\x00\x00\x00\x00\x00\x00\x00',None

In [ ]:
# --- Шаг 1: Импортируем все необходимые библиотеки ---
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from IPython.display import display, Markdown

# --- Шаг 2: Настройка для красивых графиков ---
%matplotlib inline
plt.style.use('seaborn-whitegrid') 

# --- Шаг 3: Выбираем спортсмена и дисциплину ---
db_file = "gym_data.db"
# ВАЖНО: Замените на реальные данные из вашей БД
athlete_name_to_analyze = "Lillian Willis" # <--- ИЗМЕНИТЕ ЭТО ИМЯ
event_to_analyze = "Floor"               # <--- ИЗМЕНИТЕ ЭТУ ДИСЦИПЛИНУ

# --- Шаг 4: Умный сбор данных ---
conn = sqlite3.connect(db_file)

# --- 4a: Определяем основную дисциплину спортсмена (MAG или WAG) ---
discipline_query = f"""
    -- Этот запрос находит самую частую дисциплину для спортсмена
    WITH MainDiscipline AS (
        SELECT d.discipline_name
        FROM Results r
        JOIN Athletes a ON r.athlete_id = a.athlete_id
        JOIN Events e ON r.event_id = e.event_id
        JOIN Disciplines d ON e.discipline_id = d.discipline_id
        WHERE a.full_name = "{athlete_name_to_analyze}" AND d.discipline_name IN ('MAG', 'WAG')
        GROUP BY d.discipline_name
        ORDER BY COUNT(*) DESC
        LIMIT 1
    )
    SELECT * FROM MainDiscipline;
"""
discipline_df = pd.read_sql_query(discipline_query, conn)

if discipline_df.empty:
    print(f"Не удалось определить основную дисциплину для {athlete_name_to_analyze}. Анализ невозможен.")
    discipline_name = None
else:
    discipline_name = discipline_df['discipline_name'].iloc[0]
    display(Markdown(f"### Анализ траектории: {athlete_name_to_analyze} ({discipline_name}) - {event_to_analyze}"))

# --- 4b: Основной запрос с учетом дисциплины (если она найдена) ---
if discipline_name:
    query_full = f"""
        SELECT m.name AS meet_name, m.start_date_iso, r.score_d, r.score_final
        FROM Results r
        JOIN Athletes a ON r.athlete_id = a.athlete_id
        JOIN Events e ON r.event_id = e.event_id
        JOIN Meets m ON r.meet_id = m.meet_id
        JOIN Disciplines d ON e.discipline_id = d.discipline_id
        WHERE a.full_name = "{athlete_name_to_analyze}" 
          AND e.event_name = "{event_to_analyze}"
          AND d.discipline_name = "{discipline_name}" -- Ключевой фильтр!
          AND r.score_final IS NOT NULL AND r.score_d IS NOT NULL
        ORDER BY m.start_date_iso;
    """
    df_athlete = pd.read_sql_query(query_full, conn)

    if df_athlete.empty:
        print(f"Не найдено записей с оценкой и сложностью. Пробую найти только с итоговой оценкой...")
        query_simple = f"""
            SELECT m.name AS meet_name, m.start_date_iso, r.score_final
            FROM Results r
            JOIN Athletes a ON r.athlete_id = a.athlete_id
            JOIN Events e ON r.event_id = e.event_id
            JOIN Meets m ON r.meet_id = m.meet_id
            JOIN Disciplines d ON e.discipline_id = d.discipline_id
            WHERE a.full_name = "{athlete_name_to_analyze}" 
              AND e.event_name = "{event_to_analyze}"
              AND d.discipline_name = "{discipline_name}" -- Ключевой фильтр!
              AND r.score_final IS NOT NULL
            ORDER BY m.start_date_iso;
        """
        df_athlete = pd.read_sql_query(query_simple, conn)
        
conn.close()

# ... (Оставшаяся часть кода (Шаги 5, 6, 7) для обработки DataFrame и построения графиков
# остается АБСОЛЮТНО БЕЗ ИЗМЕНЕНИЙ, так как она работает с уже отфильтрованным DataFrame)
# ... (вставьте сюда ваш код для Шагов 5, 6, 7 из предыдущего ответа)

In [88]:
import pandas as pd
import os
import glob
import sqlite3

# --- КОНФИГУРАЦИЯ ---
FINAL_CSVS_DIR = "CSVs_final"
DB_FILE = "gym_data.db"
TARGET_MEET_ID = "7DDF70B0FBFCB7D5CD2E4409DBA20AA7" # ID "пропавшего" соревнования
TARGET_ATHLETE_NAME = "Ashton Johnson"

# --- Имитация кешей и справочников из load_data.py ---
conn = sqlite3.connect(DB_FILE)
cursor = conn.cursor()
cursor.execute("SELECT event_id, event_name, discipline_id, sort_order FROM Events")
event_cache = {}
for event_id, event_name, disc_id, sort_order in cursor.fetchall():
    event_cache[(event_name, disc_id)] = {'id': event_id, 'sort': sort_order}
conn.close()

mag_indicators = {'Pommel Horse', 'Rings', 'Parallel Bars', 'High Bar'}
wag_indicators = {'Uneven Bars', 'Beam'}

# --- Поиск файла ---
search_pattern = os.path.join(FINAL_CSVS_DIR, f"{TARGET_MEET_ID}*.csv")
file_list = glob.glob(search_pattern)

if not file_list:
    print(f"ОШИБКА: Не удалось найти файл для Meet ID {TARGET_MEET_ID}")
else:
    filepath = file_list[0]
    print(f"--- Глубокая отладка файла: {os.path.basename(filepath)} ---")

    # --- Шаг 1: Читаем исходный DataFrame ---
    df = pd.read_csv(filepath)
    print("\n[1] Исходный DataFrame (только наш спортсмен):")
    display(df[df['Name'] == TARGET_ATHLETE_NAME])

    # --- Шаг 2: Определяем дисциплину и создаем карту сортировки ---
    column_events = {col.split('_')[1].replace('_', ' ') for col in df.columns if col.startswith('Result_')}
    discipline_name = 'Other'
    standard_order_map = {}
    if any(ev in mag_indicators for ev in column_events):
        discipline_name = 'MAG'
        standard_order_map = {name: data['sort'] for (name, disc_id), data in event_cache.items() if disc_id == 2}
    
    print(f"\n[2] Определена дисциплина: {discipline_name}")
    print("Карта сортировки для этой дисциплины:", standard_order_map)

    # --- Шаг 3: Переупорядочивание столбцов ---
    info_columns = [col for col in df.columns if not col.startswith('Result_')]
    result_columns = [col for col in df.columns if col.startswith('Result_')]
    
    def get_sort_key(col_name):
        parts = col_name.split('_')
        if len(parts) > 2:
            event = parts[1].replace('_', ' ')
            metric = parts[-1]
            event_order = standard_order_map.get(event, 999)
            metric_order = {'D': 0, 'Score': 1, 'Rnk': 2}.get(metric, 9)
            return (event_order, metric_order)
        return (999, 9)
        
    sorted_result_columns = sorted(result_columns, key=get_sort_key)
    print("\n[3] Столбцы с результатами после сортировки:")
    print(sorted_result_columns)
    
    # --- Шаг 4: Трансформация Melt и очистка Rnk ---
    long_df = pd.melt(df, id_vars=info_columns, value_vars=sorted_result_columns, var_name='result_metric', value_name='value').dropna(subset=['value'])
    is_rank_metric = long_df['result_metric'].str.endswith('_Rnk')
    long_df.loc[is_rank_metric, 'value'] = long_df.loc[is_rank_metric, 'value'].astype(str).str.replace(r'\D', '', regex=True)
    
    print(f"\n[4] DataFrame после Melt и очистки Rnk (осталось {len(long_df)} записей):")
    display(long_df[long_df['Name'] == TARGET_ATHLETE_NAME].head())

    # --- Шаг 5: Извлечение частей и финальная очистка ---
    regex_pattern = r'^(Result)_(.*?)_([^_]+)$'
    parts = long_df['result_metric'].str.extract(regex_pattern)
    parts.columns = ['prefix', 'event_name_raw', 'metric_type']
    long_df = long_df.join(parts).dropna(subset=['event_name_raw'])
    long_df['event_name'] = long_df['event_name_raw'].str.replace('_', ' ')
    
    print(f"\n[5] DataFrame после извлечения event_name и metric_type (осталось {len(long_df)} записей):")
    display(long_df[long_df['Name'] == TARGET_ATHLETE_NAME].head())

    # --- Шаг 6: Pivot ---
    pivot_index_cols = [col for col in ['Name', 'Club', 'Group', 'Meet', 'Age_Group', 'event_name'] if col in long_df.columns]
    print("\n[6] Столбцы, используемые для индекса в pivot_table:")
    print(pivot_index_cols)

    if not pivot_index_cols:
        print("\nОШИБКА: Не осталось столбцов для индекса pivot!")
    else:
        pivot_df = long_df.pivot_table(
            index=pivot_index_cols,
            columns='metric_type',
            values='value',
            aggfunc='first'
        ).reset_index()
        
        print(f"\n[7] Финальный Pivot DataFrame (получилось {len(pivot_df[pivot_df['Name'] == TARGET_ATHLETE_NAME])} строк для нашего спортсмена):")
        display(pivot_df[pivot_df['Name'] == TARGET_ATHLETE_NAME])

--- Глубокая отладка файла: 7DDF70B0FBFCB7D5CD2E4409DBA20AA7_FINAL_6.csv ---

[1] Исходный DataFrame (только наш спортсмен):

Empty DataFrame
Columns: [Name, Club, Level, Prov, Age, Meet, Group, Age_Group, Result_Floor_D, Result_Floor_Score, Result_Floor_Rnk, Result_Pommel_Horse_D, Result_Pommel_Horse_Score, Result_Pommel_Horse_Rnk, Result_Rings_D, Result_Rings_Score, Result_Rings_Rnk, Result_Vault_D, Result_Vault_Score, Result_Vault_Rnk, Result_Parallel_Bars_D, Result_Parallel_Bars_Score, Result_Parallel_Bars_Rnk, Result_High_Bar_D, Result_High_Bar_Score, Result_High_Bar_Rnk, Result_AllAround_D, Result_AllAround_Score, Result_AllAround_Rnk]
Index: []

[0 rows x 29 columns]

[2] Определена дисциплина: MAG
Карта сортировки для этой дисциплины: {'Floor': 1, 'Pommel Horse': 2, 'Rings': 3, 'Parallel Bars': 5, 'High Bar': 6, 'Vault': 4}

[3] Столбцы с результатами после сортировки:
['Result_Floor_D', 'Result_Floor_Score', 'Result_Floor_Rnk', 'Result_Rings_D', 'Result_Rings_Score', 'Result_Rings_Rnk', 'Result_Vault_D', 'Result_Vault_Score', 'Result_Vault_Rnk', 'Result_Pommel_Horse_D', 'Result_Parallel_Bars_D', 'Result_High_Bar_D', 'Result_AllAround_D', 'Result_Pommel_Horse_Score', 'Result_Parallel_Bars_Score', 'Result_High_Bar_Score', 'Result_AllAround_Score', 'Result_Pommel_Horse_Rnk', 'Result_Parallel_Bars_Rnk', 'Result_High_Bar_Rnk', 'Result_AllAround_Rnk']

[4] DataFrame после Melt и очистки Rnk (осталось 241 записей):

Empty DataFrame
Columns: [Name, Club, Level, Prov, Age, Meet, Group, Age_Group, result_metric, value]
Index: []

[5] DataFrame после извлечения event_name и metric_type (осталось 241 записей):

Empty DataFrame
Columns: [Name, Club, Level, Prov, Age, Meet, Group, Age_Group, result_metric, value, prefix, event_name_raw, metric_type, event_name]
Index: []

[6] Столбцы, используемые для индекса в pivot_table:
['Name', 'Club', 'Group', 'Meet', 'Age_Group', 'event_name']

[7] Финальный Pivot DataFrame (получилось 0 строк для нашего спортсмена):

Empty DataFrame
Columns: [Name, Club, Group, Meet, Age_Group, event_name]
Index: []

In [2]:
import pandas as pd
import os
import glob

FINAL_CSVS_DIR = "CSVs_final"
TARGET_MEET_ID = "7DDF70B0FBFCB7D5CD2E4409DBA20AA7" # ID "пропавшего" соревнования
TARGET_ATHLETE_NAME = "Ashton Johnson"

search_pattern = os.path.join(FINAL_CSVS_DIR, f"{TARGET_MEET_ID}*.csv")
file_list = glob.glob(search_pattern)

if not file_list:
    print(f"ОШИБКА: Не удалось найти файл для Meet ID {TARGET_MEET_ID}")
else:
    filepath = file_list[0]
    print(f"--- Анализ файла: {os.path.basename(filepath)} ---")
    
    df = pd.read_csv(filepath)
    
    # Проверяем, есть ли спортсмен в столбце 'Name'
    is_present = TARGET_ATHLETE_NAME in df['Name'].values
    
    print(f"\nСпортсмен '{TARGET_ATHLETE_NAME}' присутствует в DataFrame: {is_present}")
    
    if not is_present:
        print("\nСпортсмен не найден. Возможно, проблема в пробелах или невидимых символах.")
        print("Вот 10 первых имен из этого файла, чтобы сравнить:")
        
        # Печатаем имена в кавычках, чтобы увидеть лишние пробелы
        for name in df['Name'].head(10):
            print(f"'{name}'")

--- Анализ файла: 7DDF70B0FBFCB7D5CD2E4409DBA20AA7_FINAL_6.csv ---

Спортсмен 'Ashton Johnson' присутствует в DataFrame: False

Спортсмен не найден. Возможно, проблема в пробелах или невидимых символах.
Вот 10 первых имен из этого файла, чтобы сравнить:
'Struan Moffat'
'Michael Walsh'
'Sutton Balment'
'Clark Phillips'
'Maddox Riehl'
'gavin Wiens'
'Rex Sisulak'
'Sobha Uppal'
'Coen Grainger'
'James Chadder'

In [1]:
import pandas as pd
import os
import glob

FINAL_CSVS_DIR = "CSVs_final"
TARGET_MEET_ID = "7DDF70B0FBFCB7D5CD2E4409DBA20AA7" 
TARGET_ATHLETE_NAME = "Ashton Johnson"

search_pattern = os.path.join(FINAL_CSVS_DIR, f"{TARGET_MEET_ID}*.csv")
file_list = glob.glob(search_pattern)

if not file_list:
    print(f"ОШИБКА: Не удалось найти файл для Meet ID {TARGET_MEET_ID}")
else:
    filepath = file_list[0]
    print(f"--- Глубокий анализ файла: {os.path.basename(filepath)} ---")
    
    # --- Попытка №1: Стандартный движок 'c' ---
    print("\n[1] Чтение с помощью стандартного движка (engine='c')...")
    try:
        df_c = pd.read_csv(filepath)
        is_present_c = TARGET_ATHLETE_NAME in df_c['Name'].values
        print(f"    Спортсмен найден: {is_present_c}")
        print(f"    Всего строк в DataFrame: {len(df_c)}")
    except Exception as e:
        print(f"    Произошла ошибка: {e}")

    # --- Попытка №2: Надежный движок 'python' ---
    print("\n[2] Чтение с помощью надежного движка (engine='python')...")
    try:
        # quotechar='"' помогает правильно обработать кавычки, если они есть
        df_python = pd.read_csv(filepath, engine='python', quotechar='"')
        is_present_python = TARGET_ATHLETE_NAME in df_python['Name'].values
        print(f"    Спортсмен найден: {is_present_python}")
        print(f"    Всего строк в DataFrame: {len(df_python)}")
        
        if is_present_python and not is_present_c:
            print("\n!!! ГИПОТЕЗА ПОДТВЕРДИЛАСЬ !!!")
            print("Движок 'python' нашел спортсмена, а стандартный движок 'c' - нет.")
            print("Это указывает на проблему со структурой или форматированием CSV файла.")

    except Exception as e:
        print(f"    Произошла ошибка: {e}")

--- Глубокий анализ файла: 7DDF70B0FBFCB7D5CD2E4409DBA20AA7_FINAL_6.csv ---

[1] Чтение с помощью стандартного движка (engine='c')...
    Спортсмен найден: False
    Всего строк в DataFrame: 12

[2] Чтение с помощью надежного движка (engine='python')...
    Спортсмен найден: False
    Всего строк в DataFrame: 12

In [3]:
import pandas as pd
import os
import glob
import sqlite3

# --- КОНФИГУРАЦИЯ ---
FINAL_CSVS_DIR = "CSVs_final"
TARGET_MEET_ID = "7DDF70B0FBFCB7D5CD2E4409DBA20AA7" 

# --- КОД ИЗ load_data.py ДЛЯ ДИАГНОСТИКИ ---
search_pattern = os.path.join(FINAL_CSVS_DIR, f"{TARGET_MEET_ID}*.csv")
file_list = glob.glob(search_pattern)

if not file_list:
    print(f"ОШИБКА: Файл не найден")
else:
    filepath = file_list[0]
    print(f"--- Диагностика файла: {os.path.basename(filepath)} ---")
    
    df = pd.read_csv(filepath).dropna(subset=['Name'])

    # --- Копируем логику трансформации из load_data.py ---
    info_columns = [col for col in df.columns if not col.startswith('Result_')]
    result_columns = [col for col in df.columns if col.startswith('Result_')]
    
    # Мы не будем сортировать, чтобы увидеть данные "как есть"
    long_df = pd.melt(df, id_vars=info_columns, value_vars=result_columns,
                      var_name='result_metric', value_name='value').dropna(subset=['value'])

    is_rank = long_df['result_metric'].str.endswith('_Rnk', na=False)
    long_df.loc[is_rank, 'value'] = long_df.loc[is_rank, 'value'].astype(str).str.replace(r'\D', '', regex=True)
    
    regex = r'^(Result)_(.*?)_([^_]+)$'
    parts = long_df['result_metric'].str.extract(regex)
    parts.columns = ['prefix', 'event_name_raw', 'metric_type']
    long_df = long_df.join(parts).dropna(subset=['event_name_raw'])
    long_df['event_name'] = long_df['event_name_raw'].str.replace('_', ' ')
    
    # --- Вот что нас интересует ---
    print("\n[ОТЛАДКА] Содержимое long_df ПЕРЕД вызовом pivot_table (первые 20 строк):")
    display(long_df.head(20))

    pivot_cols = [c for c in ['Name', 'Club', 'Group', 'Meet', 'Age_Group', 'event_name'] if c in long_df.columns]
    
    print("\n[ОТЛАДКА] Столбцы, используемые для индекса pivot:", pivot_cols)

    try:
        pivot_df = long_df.pivot_table(index=pivot_cols, columns='metric_type', values='value', aggfunc='first').reset_index()
        print("\n[ОТЛАДКА] pivot_table ВЫПОЛНИЛСЯ УСПЕШНО.")
        display(pivot_df.head())
    except Exception as e:
        print(f"\n[ОТЛАДКА] pivot_table ВЫДАЛ ОШИБКУ: {e}")

--- Диагностика файла: 7DDF70B0FBFCB7D5CD2E4409DBA20AA7_FINAL_6.csv ---

[ОТЛАДКА] Содержимое long_df ПЕРЕД вызовом pivot_table (первые 20 строк):

,Name,Club,Level,Prov,Age,Meet,Group,Age_Group,result_metric,value,prefix,event_name_raw,metric_type,event_name
0,Struan Moffat,GYMTASTICS,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_D,13.0,Result,Floor,D,Floor
1,Michael Walsh,CGC,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_D,12.0,Result,Floor,D,Floor
2,Sutton Balment,CGC,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_D,11.8,Result,Floor,D,Floor
3,Clark Phillips,GYMTASTICS,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_D,11.8,Result,Floor,D,Floor
4,Maddox Riehl,GYMTASTICS,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_D,12.6,Result,Floor,D,Floor
5,gavin Wiens,CGC,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_D,10.8,Result,Floor,D,Floor
6,Rex Sisulak,AGC,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_D,11.5,Result,Floor,D,Floor
7,Sobha Uppal,AGC,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_D,11.6,Result,Floor,D,Floor
8,Coen Grainger,SEG,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_D,11.3,Result,Floor,D,Floor
9,James Chadder,AGC,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_D,11.8,Result,Floor,D,Floor
10,Denver Mori,AGC,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_D,11.3,Result,Floor,D,Floor
11,Jack Williamson,CGC,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_D,0.0,Result,Floor,D,Floor
12,Struan Moffat,GYMTASTICS,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_Score,11.5,Result,Floor,Score,Floor
13,Michael Walsh,CGC,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_Score,10.2,Result,Floor,Score,Floor
14,Sutton Balment,CGC,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_Score,10.2,Result,Floor,Score,Floor
15,Clark Phillips,GYMTASTICS,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_Score,10.4,Result,Floor,Score,Floor
16,Maddox Riehl,GYMTASTICS,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_Score,11.3,Result,Floor,Score,Floor
17,gavin Wiens,CGC,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_Score,9.7,Result,Floor,Score,Floor
18,Rex Sisulak,AGC,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_Score,9.5,Result,Floor,Score,Floor
19,Sobha Uppal,AGC,P2B,AB,9,MAG Artistic Provincials 2024,Provincial 2B (2015),NaN,Result_Floor_Score,9.5,Result,Floor,Score,Floor

[ОТЛАДКА] Столбцы, используемые для индекса pivot: ['Name', 'Club', 'Group', 'Meet', 'Age_Group', 'event_name']

[ОТЛАДКА] pivot_table ВЫПОЛНИЛСЯ УСПЕШНО.

Empty DataFrame
Columns: [Name, Club, Group, Meet, Age_Group, event_name]
Index: []